<% content_for :partCss do %>
    <%= stylesheet_link_tag 'css/wn.css', media: 'all'%>
<% end %>
<% content_for :partJs do %>
    <%= javascript_include_tag 'js/chart.js', 'data-turbolinks-track' => true %>
<% end %>

<!-- page content -->
<div class="right_col">
  <!-- top tiles -->
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <div class="wn-title green">成绩分布</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="wryh">各分数段统计</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="grade_chart" id="grade_chart_bar"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="wryh">各分数段统计</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="grade_chart" id="grade_chart_pie"></div>
        </div>
      </div>
    </div>
  </div>

</div>