<% content_for :partCss do %>
    <%= stylesheet_link_tag 'css/wn.css', media: 'all'%>
<% end %>
<% content_for :partJs do %>
<% end %>

<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <% if teacher_logged_in? %><div class="wn-title green">授课时间表</div><% end %>
      <% if student_logged_in? %><div class="wn-title green">课程表</div><% end %>
    </div>
  </div>
  <!-- /top tiles -->

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
              <div class="x_title">
                <h2 class="wryh">第三周</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">


                <div class="table-responsive">
                  <table class="wn-course-table table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings wn-table-head">
                      	<th class="column-title"></th>
                        <th class="column-title">周一 </th>
                        <th class="column-title">周二 </th>
                        <th class="column-title">周三 </th>
                        <th class="column-title">周四 </th>
                        <th class="column-title">周五 </th>
                        <th class="column-title">周六</th>
						<th class="column-title">周日</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<!--<% count=0 %>
                    	<% @tables.each do |i|%>
                    		<% count = count+1 %>
                    		<tr><td class=" "><%=count%></td>
                    		<% i.each do |item|  %>
                    			<td></td>
                    		<% end %>
                    		</tr>
                    	<% end %>-->
                    	
                      <tr><td class=" ">1</td><td></td><td></td><td>
                      	
                      		<% if teacher_logged_in? %>
                      			<div class="class-item ht2 color1">
		                      		<p>计算机体系结构</p>
		                      		<p>教1-121</p>
		                      		<p>胡伟武</p>
		                      		<p>1-16周</p>
		                      	</div>
                      		<% else %>
	                      		<div class="class-item ht2 color1">
		                      		<p>计算机体系结构</p>
		                      		<p>教1-121</p>
		                      		<p>胡伟武</p>
		                      		<p>1-16周</p>
		                      	</div>
                      		<% end %>
                      	</td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">3</td><td></td><td>
                      	<% if teacher_logged_in? %>
                      	<% else %>
                      	<div class="class-item ht2 color3">
                      		<p>高级软件工程</p>
                      		<p>教1-009</p>
                      		<p>罗铁坚</p>
                      		<p>1-16周</p>
                      	</div><% end %></td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">5</td><td></td><td></td><td></td><td>
                      	<% if teacher_logged_in? %>
                      	<% else %>
                      	<div class="class-item ht2 color2">
                      		<p>网络数据挖掘</p>
                      		<p>教1-101</p>
                      		<p>徐君</p>
                      		<p>1-12周(单)</p>
                      	</div><% end %></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">9</td><td></td><td></td><td></td><td></td><td>
                      	<% if teacher_logged_in? %>
                      	<% else %>
                      	<div class="class-item ht4 color4">
                      		<p>算法设计与技术</p>
                      		<p>教1-101</p>
                      		<p>卜东波</p>
                      		<p>1-16周</p>
                      	</div><% end %></td><td></td><td></td></tr>
                      <tr><td class=" ">10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">11</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td class=" ">12</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
      </div>

  </div>
  <br />

</div>
<!-- /page content -->
