// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  margin-bottom: 20px;
}

.comment_container {
  border: 1px solid #E6E9ED;
}

.comment_heading {
  background-color: #f7f7f7;
  padding: 10px 17px;
  font-size: 12px;
}

.comment_content {
  border-top: 1px solid #E6E9ED;
  background-color: #fff;
  padding: 10px 17px;
}

.comment_avatar {
  width: 50px;
  height: 50px;
}

.discussion_title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 17px;
  border-bottom: 3px solid #E6E9ED;
}

.discussion_content {
  padding-top: 17px;
}

.editor_right {
  border: 1px solid #E6E9ED;
  background-color: #fff;
  padding: 10px 17px;
  margin-bottom: 10px;
}